<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ỨNG DỤNG QUẢN LÝ SÁCH</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<header th:replace="layout :: header"></header>

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="#">TRANG CHỦ ỨNG DỤNG QUẢN LÝ SÁCH KẾT NỐI CSDL MYSQL</a>
        </div>
    </nav>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>